@import 'colors';
@import 'style';

* {
    font-family: StarFont;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    @include nav-style;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}


footer {
    padding: 5px;
    @include footer-style;
}

.giftCards {
    padding: 30px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header h1 {
    font-size: 20px;
}


.item img {
    border-radius: 20px;
}

.item img:hover {
    transform: translateY(-2px);
}

owl-nav button{
    border-radius:50% !important;
    background-color:aqua !important;
}

.owl-prev {
    left: 0;
    top: 30%;
    height: 40px;
    width:0px;
    border-radius:50% !important;
    position: absolute;
    font-size: 50px !important;
}

.owl-next {
    right: 30px;
    top: 30%;
    background-color:white !important;
    height: 40px;
    width:0px;
    border-radius:50% !important;
    position: absolute;
    font-size: 50px !important;
}


.inline-note {
    padding: 0 20px;
    display: flex;
    justify-content: left;
    background-color: $starPurple;
}

.inline-note button{
    margin: 5px;
    max-width: 180px;
    color:white;
    text-align: center;
    border-radius:20px;
    padding: 3px 10px;
    background-color:black;
    border-color:black;
    border-width:1px;
    border-style:solid;
    transition: 0.3s;
}

.inline-note button:hover {
    opacity: 0.7;
}

.inline-note div {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.inline-note h1 {
    font-size: 25px;
    margin-right: 10px;
}

.inline-note span {
    margin-left: 10px;
}


@media (max-width: 900px) {
    .inline-note div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
