@import 'colors';
@import 'style';

* {
    font-family: StarFont;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    @include nav-style;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}


footer {
    padding: 5px;
    @include footer-style;
}


#atMenu {
  box-sizing: border-box; 
  border-bottom: 4px solid $starGreen;

}

.menu {
    width: 100%;
    display: flex;
    padding: 40px;
    max-width: 1200px;
  
  }
  
  .leftside-menu {
    max-width: 250px;
    margin: 0 140px 0 40px;
  }
  
  .leftside-menu h1 {
    font-size: 22px;
  }
  
  .leftside-menu li {
    margin: 15px 0;
    list-style: none;
    color:#757575;
  }

  .rightside-menu {
    width: 100%;
  }

  h2{
    margin-top: 30px;
  }
  
  .drinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
    width: 300px;
    margin: 2px;
  }
  
    img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    object-fit:contain;
  }

   a{
    font-size: 20px;
    text-decoration:none;
    color:black;
    white-space: nowrap;
  }
  }


  .Food{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
    width: 300px;
    margin: 2px;
  }
  
    img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    object-fit:contain;
  }

   a{
    font-size: 20px;
    text-decoration:none;
    color:black;
    white-space: nowrap;
  }
  }

  .home-coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
    width: 300px;
    margin: 2px;
  }
  
    img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    object-fit:contain;
  }

   a{
    font-size: 20px;
    text-decoration:none;
    color:black;
    white-space: nowrap;
  }

  }

  .Merchandise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
    width: 300px;
    margin: 2px;
  }
  
    img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    object-fit:contain;
  }

   a{
    font-size: 20px;
    text-decoration:none;
    color:black;
    white-space: nowrap;
  }
  }

  .GiftCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
    width: 300px;
    margin: 2px;
  }
  
    img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 15px;
    object-fit:contain;
  }

   a{
    font-size: 20px;
    text-decoration:none;
    color:black;
    white-space: nowrap;
  }
  }




  @media (max-width: 1012px) {
    .leftside-menu{
      display: none;
    }

    .menu{
      display: flex;
      justify-content: center;
      align-items:center;
      padding-left: 90px;
    }

     .menu img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin: 15px;
      object-fit:contain;
    }

  }